.logo {
  height: 4rem;
  margin-left: 2rem;
  @media screen and (max-width: 700px) {
    margin-top: 1.2rem;
    height: 5rem;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color5;

  @media screen and (max-width: 700px) {
    display: block;
  }
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  &__icon-box {
    margin: 0 auto;
  }
}

.nav-items * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav-items li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.7rem 1.5rem;
  overflow: hidden;
  font-size: 1.2rem;

  @media screen and (max-width: 375px) {
    width: 80%;
  }
  @media screen and (max-width: 700px) {
    display: block;
    text-align: center;
    margin: 2rem 11.5rem;
  }
  @media screen and (max-width: 736px) {
    width: 80%;
    margin: 1rem;
  }
}
.nav-items a {
  padding: 0.3em 0;
  color: $color-white;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  &:hover {
    color: $color-black;
  }
}
